//success btn viriant
.btn-style-success {
	background-color: #009acc;
	color: $white-color;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid #009acc;
	padding: 12px 25px;
	transition: 0.4s ease;
	filter: drop-shadow(-1px 1.8px 1px $blue-shadow);

	&:hover {
		background-color: #077da5;
	}
}

//alternative success button
.alternativeButton {
	margin-right: 10px;
	background-image: linear-gradient(#343a63, #1f233b);
	color: #fff;

	&:hover {
		background: #343a63;
	}

	&:active:focus {
		background: #1f233b;
	}
}

//inactivate button
.inactive-button {
	margin-right: 10px;
	background-color: gray;
	color: #fff;
}
