//font-variables
$default-font-size: 1rem;

//color scale
$white-color: #fff;
$gray-tone: #cfcece;
$main-bg-color: #91c3f5;
$blue-shadow: #00678a;
$bs-heading-font-color: #344767;

//shadow theme
$default-shadow: rgba(0, 0, 0, 0.8);
